/* -------------------- HERO & SLIDER -------------------- */
.status--tag {
  width: 120px;
  height: 40px;
  padding: 0 16px;
  border-radius: 0 8px 8px 0;
  background-color: var(--secondary-bg);
  border: 1px solid var(--bg-color);
  border-left: none;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 8px;

  position: absolute;
  top: 60px;
}

.status {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid var(--bg-color);
  background-color: var(--plus-button);
}

.hero--brand {
  width: 360px;
  height: 160px;
  background-color: var(--secondary-bg);
  border: 1px solid var(--gray);
  border-radius: 16px;

  position: absolute;
  top: 25vh;
  left: calc(50vw - 180px);
  z-index: 100;
}

.slider--image {
  width: 100%;
  height: 85vh;
  object-fit: cover;
  object-position: bottom;
}

.slider--buttonsCont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;

  position: absolute;
  top: 78vh;
}

.slider--button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.slider--button__active {
  background-color: var(--gray);
  cursor: initial;
}

.down-arrow {
  font-size: 70px;
  text-align: center;
  color: #ffffff;
  position: relative;
  top: 30px;
}

/* -------------------- MENUS -------------------- */

.menu--container {
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}

.menu--section {
  width: 100%;
  height: 600px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu--section img {
  width: 49vw;
  height: 100%;
}

.menu {
  width: 49.5%;
  min-width: 500px;
  height: 100%;
  padding: 0 80px 40px 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu--title {
  font-family: italianno;
  font-weight: normal;
  font-size: 50px;
  text-decoration: underline;
  color: #ffffff;
  text-align: center;
}

.menu--item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu--item .item p {
  font-size: 12px;
  color: #ffffff;
}

.menu--item .item p span {
  font-size: 20px;
}

.item--counter input {
  width: 80px;
  height: 36px;
  text-align: center;
}

/*------ Quita flechas del input number ------*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/*--------------------------------------------*/

.counter--plus,
.counter--less {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  color: #ffffff;
}

.counter--plus {
  background-color: var(--plus-button);
}

.counter--less {
  background-color: var(--less-button);
}

.form--submitButton {
  width: 250px;
  height: 80px;
  margin-left: calc(50vw - 125px);
  margin-top: 50px;
  margin-bottom: 80px;

  border-radius: 8px;
  font-size: 24px;
  background-color: var(--confirm-button);
}

/* -------------------- CONTACTO -------------------- */

.contact {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 40px;
  padding-bottom: 60px;
  column-gap: 40px;
  row-gap: 40px;
}

.schedule,
.location {
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.schedule > *,
.location > * {
  color: #ffffff;
}

.schedule h2,
.location h2 {
  font-family: italianno;
  font-weight: normal;
  font-size: 50px;
  text-decoration: underline;
}

.map {
  margin-top: 20px;
  height: 260px;
  width: 300px;
  border-radius: 16px;
}

/* -------------------- FOOTER -------------------- */

.footer {
  height: 120px;
  background-color: var(--secondary-color);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 50px;
  row-gap: 40px;
}

.footer h3 {
  font-size: 50px;
  font-family: italianno;
  font-weight: normal;
  text-decoration: underline;
}

.footer > * {
  color: #ffffff;
}

.footer--contact {
  display: flex;
  align-items: center;
  column-gap: 8px;
  color: #ffffff;
  text-decoration: none;
}

.footer--contact img {
  width: 50px;
  height: 50px;
}
