{{! Styles }}
<link rel="stylesheet" href="/styles/admin-header.css" />
<link rel="stylesheet" href="/styles/admin-stadistics.css" />
<link rel="stylesheet" href="/styles/tables.css" />
{{! Fin Styles }}

<div class="main--content">

  {{! Inicio header }}
  <header class="header">
    <h1>Que Lo Parió</h1>
    <nav>
      <ul>
        <a href="/administrator/ingredients">
          <li class="nav--item">Ingredientes</li>
        </a>
        <a href="/administrator/products">
          <li class="nav--item">Productos</li>
        </a>
        <a href="/administrator/stadistics">
          <li class="nav--item nav--item__active">Estadísticas</li>
        </a>
      </ul>
    </nav>
  </header>

  {{! Final header }}

  {{! Inicio grafico }}

  <div class="graph--mainContainer">

    <div class="graph--header">

      <h2>Dinero en ventas</h2>

      <div class="interval--selector">
        <button type="button">Último año</button>
        <button type="button">Último mes</button>
        <button type="button" class="active">Última semana</button>
      </div>

    </div>

    <div class="graph--contaner">

    </div>

  </div>

  {{! Final gráfico }}

  {{! Inicio tabla }}

  <div class="table--container">

    <div class="table--header">
      <h2>Ventas</h2>

      <div class="interval--selector">
        <button type="button">Último año</button>
        <button type="button">Último mes</button>
        <button type="button" class="active">Última semana</button>
      </div>
    </div>

    <table class="table-sortable">
      <thead>
        <tr>
          <th>Categoría</th>
          <th>Producto</th>
          <th>Cantidad vendida</th>
          <th>Total en ventas (Precio * Cantidad)</th>
          <th class="th-sort-asc">Ganancias (Total - Insumos)</th>
        </tr>
      </thead>
      <tr>
        <td>Pizzas</td>
        <td>Napolitana</td>
        <td>23</td>
        <td class="price">38.000</td>
        <td class="price">30.000</td>
      </tr>
      <tr>
        <td>Pizzas</td>
        <td>Muzzarella</td>
        <td>17</td>
        <td class="price">35.000</td>
        <td class="price">22.000</td>
      </tr>
      <tr>
        <td>Empanadas</td>
        <td>Jamón y Queso</td>
        <td>24</td>
        <td class="price">20.000</td>
        <td class="price">18.000</td>
      </tr>
      <tr>
        <td>Empanadas</td>
        <td>Carne</td>
        <td>36</td>
        <td class="price">34.000</td>
        <td class="price">22.000</td>
      </tr>
    </table>
  </div>

  {{! Final Tabla }}

</div>

{{! Scrypts }}
<script src="/scrypts/table-sort.js"></script>