{{! Styles }}
<link rel="stylesheet" href="/styles/admin-header.css" />
<link rel="stylesheet" href="/styles/admin-ingredients.css" />
<link rel="stylesheet" href="/styles/tables.css" />
<link rel="stylesheet" href="/styles/modal.css" />
{{! Fin Styles }}

<div class="main--content">

  {{! Inicio header }}
  <header class="header">
    <h1>Nombre de la página</h1>
    <nav>
      <ul>
        <a href="/administrator/ingredients">
          <li class="nav--item nav--item__active">Ingredientes</li>
        </a>
        <a href="/administrator/products">
          <li class="nav--item">Productos</li>
        </a>
        <a href="/administrator/stadistics">
          <li class="nav--item">Estadísticas</li>
        </a>
      </ul>
    </nav>
  </header>

  {{! Final header }}

  {{! Inicio Tabla de Empanadas }}

  <div class="table--container">
    <h2>Ingredientes</h2>
    <table class="table-sortable">
      <thead>
        <tr>
          <th class="th-sort-asc">Producto</th>
          <th>Descripción</th>
          <th>Stock</th>
          <th>Precio</th>
          <th>Opciones</th>
          <th>Unidad</th>
        </tr>
      </thead>
      <tr>
        <td>Carne molida</td>
        <td>Comprada en x lado - Descuento al por mayor en tal otro lado</td>
        <td>
          <button class="addStock">+</button>
          <input type="number" name="" id="" value="0" />
          <button class="removeStock">-</button>
        </td>
        <td class="price">1600</td>
        <td>
          <button type="button">
            <ion-icon name="alert-circle-outline"></ion-icon>
          </button>
          <button type="button">
            <ion-icon name="build-outline"></ion-icon>
          </button>
          <button type="button" class="removeStock">
            <ion-icon name="trash-outline"></ion-icon>
          </button>
        </td>
        <td>Kg</td>
      </tr>

      <tr>
        <td>Tapas de empanadas</td>
        <td>Comprada en x lado - Descuento al por mayor en tal otro lado</td>
        <td>
          <button class="addStock">+</button>
          <input type="number" name="" id="" value="0" />
          <button class="removeStock">-</button>
        </td>
        <td class="price">300</td>
        <td>
          <button type="button">
            <ion-icon name="alert-circle-outline"></ion-icon>
          </button>
          <button type="button">
            <ion-icon name="build-outline"></ion-icon>
          </button>
          <button type="button" class="removeStock">
            <ion-icon name="trash-outline"></ion-icon>
          </button>
        </td>
        <td>U.</td>
      </tr>

      <tr>
        <td>Lechuga</td>
        <td>Comprada en x lado</td>
        <td>
          <button class="addStock">+</button>
          <input type="number" name="" id="" value="0" />
          <button class="removeStock">-</button>
        </td>
        <td class="price">200</td>
        <td>
          <button type="button">
            <ion-icon name="alert-circle-outline"></ion-icon>
          </button>
          <button type="button">
            <ion-icon name="build-outline"></ion-icon>
          </button>
          <button type="button" class="removeStock">
            <ion-icon name="trash-outline"></ion-icon>
          </button>
        </td>
        <td>U.</td>
      </tr>

      <tr>
        <td>Cebolla</td>
        <td>La bolsa está barata en la feria (sábados a la mañana)</td>
        <td>
          <button class="addStock">+</button>
          <input type="number" name="" id="" value="0" />
          <button class="removeStock">-</button>
        </td>
        <td class="price">150</td>
        <td>
          <button type="button">
            <ion-icon name="alert-circle-outline"></ion-icon>
          </button>
          <button type="button">
            <ion-icon name="build-outline"></ion-icon>
          </button>
          <button type="button" class="removeStock">
            <ion-icon name="trash-outline"></ion-icon>
          </button>
        </td>
        <td>Kg</td>
      </tr>

    </table>
  </div>

  {{! Fin Tabla de Empanadas }}

  <div onclick="closeModal()" class="modal--container hidden">
    <div class="modal">
      <ion-icon
        onclick="closeModal()"
        class="close--modal"
        name="close-circle-outline"
      ></ion-icon>
    </div>
  </div>

</div>

{{! Scrypts }}

<script src="/scrypts/table-sort.js"></script>
<script src="/scrypts/open-close-modal.js"></script>

<script
  type="module"
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
></script>
<script
  nomodule
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
></script>