<div class="main-content">

  {{! Inicio slider }}
  <div class="slider">
    <div class="status--tag">
      <div class="status"></div>
      <p>Abierto</p>
    </div>

    <div class="hero--brand"></div>

    <img
      src="https://i.blogs.es/58e525/como-hacer-masa-para-empanadas-fritas-1-/1366_2000.jpg"
      alt="Empanadas"
      class="slider--image"
    />
    {{! <img
      src="https://arc-anglerfish-arc2-prod-infobae.s3.amazonaws.com/public/NQ3JJCL5KFBRFLHUV4FO4JUHXU.jpg"
      alt="Empanadas"
      class="slider--image"
    />
    <img
      src="https://arc-anglerfish-arc2-prod-infobae.s3.amazonaws.com/public/NQ3JJCL5KFBRFLHUV4FO4JUHXU.jpg"
      alt="Empanadas"
      class="slider--image"
    /> }}

    <div class="slider--buttonsCont">
      <button class="slider--button slider--button__active"></button>
      <button class="slider--button"></button>
      <button class="slider--button"></button>
    </div>

  </div>

  <p class="down-arrow">&darr;</p>

  {{! Fin slider }}

  {{! Inicio menus }}

  <div class="menu--container">
    <img:src></img:src>
    <div class="menu">
      h2.menu--title+.menu--item*9>p.
    </div>
  </div>

  <div class="menu--container">
    <img:src></img:src>
    <div class="menu"></div>
  </div>

  <div class="menu--container">
    <img:src></img:src>
    <div class="menu"></div>
  </div>

  {{! Fin menus }}

  {{! Inicio contacto }}

  {{! Fin contacto }}

  {{! Inicio footer }}

  <footer class="footer">
    <h3>Contactanos en:</h3>

    <div class="footer--contact">
      <img
        src="https://png.pngtree.com/png-vector/20221018/ourmid/pngtree-whatsapp-mobile-software-icon-png-image_6315991.png"
        alt="Instagram image"
      />
      <p>What's App - 3764xxxxxx</p>
    </div>

    <a class="footer--contact" href="#">
      <img
        src="https://static.vecteezy.com/system/resources/previews/017/743/717/non_2x/instagram-icon-logo-free-png.png"
        alt="Whats app image"
      />

      <p>Instagram</p>
    </a>
  </footer>

  {{! Fin footer }}
</div>