<div class="main-content">

  <div class="hero">
  {{! Inicio slider }}
    <div class="slider">
      <div class="status--tag">
        <div class="status"></div>
        <p class="status--text">Abierto</p>
      </div>

      <div class="hero--brand"></div>

      <div class="slider--inner">
        <img
          src="https://i.blogs.es/58e525/como-hacer-masa-para-empanadas-fritas-1-/1366_2000.jpg"
          alt="Empanadas"
          class="slider--image"
        />
        <img
          src="https://wallpapers.com/images/hd/food-photography-pepperoni-and-cheese-pizza-gargkp2d037d4zrh.jpg"
          alt="Pizza"
          class="slider--image"
        />
        <img
          src="https://www.recetasnatura.com.ar/sites/default/files/bombas_de_papas_y_champignones_al_verdeo_con_ensalada_y_aderezo_alimonado.jpg"
          alt="Empanadas"
          class="slider--image"
        />
      </div>

      <div class="slider--buttonsCont">
        <div class="slider--button slider--button__active"></div>
        <div class="slider--button"></div>
        <div class="slider--button"></div>
      </div>

    </div>

    <p class="down-arrow">&darr;</p>

  </div>

  {{! Fin slider }}

  {{! Inicio menus }}

  <form class="menu--container" action="#" method="post">
    <div class="menu--section">
      <img
        src="https://media.istockphoto.com/id/521954007/es/foto/pollo-relleno-de-empanadas-casera.jpg?s=612x612&w=0&k=20&c=QPCkMlIwKatscw6tpnsMQVD9-lx7wOpxmZqpzWK3vkQ="
        alt="Imagen de empanadas"
      />
      <div class="menu">
        <h2 class="menu--title">Empanadas</h2>
        <div class="menu--item">
          <div class="item">
            <p><span>Carne</span></p>
            <p>(Carne, aceituna, cebolla, morrón)</p>
          </div>
          <div class="item--counter">
            <button type="button" class="counter--plus" onclick="add(0)">+</button>
            <input type="number" name="empanada-1" class="counter" min="0" value="0" step="1"/>
            <button type="button" class="counter--less" onclick="removeOne(0)">-</button>
          </div>
        </div>
        <div class="menu--item">
          <div class="item">
            <p><span>Carne</span></p>
            <p>(Carne, aceituna, cebolla, morrón)</p>
          </div>
          <div class="item--counter">
            <button type="button" class="counter--plus">+</button>
            <input type="number" name="empanada-1" class="counter" min="0" value="0" step="1"/>
            <button type="button" class="counter--less">-</button>
          </div>
        </div>
        <div class="menu--item">
          <div class="item">
            <p><span>Carne</span></p>
            <p>(Carne, aceituna, cebolla, morrón)</p>
          </div>
          <div class="item--counter">
            <button type="button" class="counter--plus">+</button>
            <input type="number" name="empanada-1" class="counter" min="0" value="0" step="1"/>
            <button type="button" class="counter--less">-</button>
          </div>
        </div>
        <div class="menu--item">
          <div class="item">
            <p><span>Carne</span></p>
            <p>(Carne, aceituna, cebolla, morrón)</p>
          </div>
          <div class="item--counter">
            <button type="button" class="counter--plus">+</button>
            <input type="number" name="empanada-1" class="counter" min="0" value="0" step="1"/>
            <button type="button" class="counter--less">-</button>
          </div>
        </div>
        <div class="menu--item">
          <div class="item">
            <p><span>Carne</span></p>
            <p>(Carne, aceituna, cebolla, morrón)</p>
          </div>
          <div class="item--counter">
            <button type="button" class="counter--plus">+</button>
            <input type="number" name="empanada-1" class="counter" min="0" value="0" step="1"/>
            <button type="button" class="counter--less">-</button>
          </div>
        </div>
        <div class="menu--item">
          <div class="item">
            <p><span>Carne</span></p>
            <p>(Carne, aceituna, cebolla, morrón)</p>
          </div>
          <div class="item--counter">
            <button type="button" class="counter--plus">+</button>
            <input type="number" name="empanada-1" class="counter" min="0" value="0" step="1"/>
            <button type="button" class="counter--less">-</button>
          </div>
        </div>
        <div class="menu--item">
          <div class="item">
            <p><span>Carne</span></p>
            <p>(Carne, aceituna, cebolla, morrón)</p>
          </div>
          <div class="item--counter">
            <button type="button" class="counter--plus">+</button>
            <input type="number" name="empanada-1" class="counter" min="0" value="0" step="1"/>
            <button type="button" class="counter--less">-</button>
          </div>
        </div>
        <div class="menu--item">
          <div class="item">
            <p><span>Carne</span></p>
            <p>(Carne, aceituna, cebolla, morrón)</p>
          </div>
          <div class="item--counter">
            <button type="button" class="counter--plus">+</button>
            <input type="number" name="empanada-1" class="counter" min="0" value="0" step="1"/>
            <button type="button" class="counter--less">-</button>
          </div>
        </div>
        <div class="menu--item">
          <div class="item">
            <p><span>Carne</span></p>
            <p>(Carne, aceituna, cebolla, morrón)</p>
          </div>
          <div class="item--counter">
            <button type="button" class="counter--plus">+</button>
            <input type="number" name="empanada-1" class="counter" min="0" value="0" step="1"/>
            <button type="button" class="counter--less">-</button>
          </div>
        </div>
      </div>
    </div>
    <div class="menu--section">
      <div class="menu">
        <h2 class="menu--title">Pizzas</h2>
        <div class="menu--item">
          <div class="item">
            <p><span>Carne</span></p>
            <p>(Carne, aceituna, cebolla, morrón)</p>
          </div>
          <div class="item--counter">
            <button type="button" class="counter--plus">+</button>
            <input type="number" name="empanada-1" class="counter" min="0" value="0" step="1"/>
            <button type="button" class="counter--less">-</button>
          </div>
        </div>
        <div class="menu--item">
          <div class="item">
            <p><span>Carne</span></p>
            <p>(Carne, aceituna, cebolla, morrón)</p>
          </div>
          <div class="item--counter">
            <button type="button" class="counter--plus">+</button>
            <input type="number" name="empanada-1" class="counter" min="0" value="0" step="1"/>
            <button type="button" class="counter--less">-</button>
          </div>
        </div>
        <div class="menu--item">
          <div class="item">
            <p><span>Carne</span></p>
            <p>(Carne, aceituna, cebolla, morrón)</p>
          </div>
          <div class="item--counter">
            <button type="button" class="counter--plus">+</button>
            <input type="number" name="empanada-1" class="counter" min="0" value="0" step="1"/>
            <button type="button" class="counter--less">-</button>
          </div>
        </div>
        <div class="menu--item">
          <div class="item">
            <p><span>Carne</span></p>
            <p>(Carne, aceituna, cebolla, morrón)</p>
          </div>
          <div class="item--counter">
            <button type="button" class="counter--plus">+</button>
            <input type="number" name="empanada-1" class="counter" min="0" value="0" step="1"/>
            <button type="button" class="counter--less">-</button>
          </div>
        </div>
        <div class="menu--item">
          <div class="item">
            <p><span>Carne</span></p>
            <p>(Carne, aceituna, cebolla, morrón)</p>
          </div>
          <div class="item--counter">
            <button type="button" class="counter--plus">+</button>
            <input type="number" name="empanada-1" class="counter" min="0" value="0" step="1"/>
            <button type="button" class="counter--less">-</button>
          </div>
        </div>
        <div class="menu--item">
          <div class="item">
            <p><span>Carne</span></p>
            <p>(Carne, aceituna, cebolla, morrón)</p>
          </div>
          <div class="item--counter">
            <button type="button" class="counter--plus">+</button>
            <input type="number" name="empanada-1" class="counter" min="0" value="0" step="1"/>
            <button type="button" class="counter--less">-</button>
          </div>
        </div>
        <div class="menu--item">
          <div class="item">
            <p><span>Carne</span></p>
            <p>(Carne, aceituna, cebolla, morrón)</p>
          </div>
          <div class="item--counter">
            <button type="button" class="counter--plus">+</button>
            <input type="number" name="empanada-1" class="counter" min="0" value="0" step="1"/>
            <button type="button" class="counter--less">-</button>
          </div>
        </div>
        <div class="menu--item">
          <div class="item">
            <p><span>Carne</span></p>
            <p>(Carne, aceituna, cebolla, morrón)</p>
          </div>
          <div class="item--counter">
            <button type="button" class="counter--plus">+</button>
            <input type="number" name="empanada-1" class="counter" min="0" value="0" step="1"/>
            <button type="button" class="counter--less">-</button>
          </div>
        </div>
        <div class="menu--item">
          <div class="item">
            <p><span>Carne</span></p>
            <p>(Carne, aceituna, cebolla, morrón)</p>
          </div>
          <div class="item--counter">
            <button type="button" class="counter--plus">+</button>
            <input type="number" name="empanada-1" class="counter" min="0" value="0" step="1"/>
            <button type="button" class="counter--less">-</button>
          </div>
        </div>
      </div>
      <img
        src="https://media.istockphoto.com/id/521954007/es/foto/pollo-relleno-de-empanadas-casera.jpg?s=612x612&w=0&k=20&c=QPCkMlIwKatscw6tpnsMQVD9-lx7wOpxmZqpzWK3vkQ="
        alt="Imagen de empanadas"
      />
    </div>
    <div class="menu--section">
      <img
        src="https://media.istockphoto.com/id/521954007/es/foto/pollo-relleno-de-empanadas-casera.jpg?s=612x612&w=0&k=20&c=QPCkMlIwKatscw6tpnsMQVD9-lx7wOpxmZqpzWK3vkQ="
        alt="Imagen de empanadas"
      />
      <div class="menu">
        <h2 class="menu--title">Snacks y Gaseosas</h2>
        <div class="menu--item">
          <div class="item">
            <p><span>Carne</span></p>
            <p>(Carne, aceituna, cebolla, morrón)</p>
          </div>
          <div class="item--counter">
            <button type="button" class="counter--plus">+</button>
            <input type="number" name="empanada-1" class="counter" min="0" value="0" step="1"/>
            <button type="button" class="counter--less">-</button>
          </div>
        </div>
        <div class="menu--item">
          <div class="item">
            <p><span>Carne</span></p>
            <p>(Carne, aceituna, cebolla, morrón)</p>
          </div>
          <div class="item--counter">
            <button type="button" class="counter--plus">+</button>
            <input type="number" name="empanada-1" class="counter" min="0" value="0" step="1"/>
            <button type="button" class="counter--less">-</button>
          </div>
        </div>
        <div class="menu--item">
          <div class="item">
            <p><span>Carne</span></p>
            <p>(Carne, aceituna, cebolla, morrón)</p>
          </div>
          <div class="item--counter">
            <button type="button" class="counter--plus">+</button>
            <input type="number" name="empanada-1" class="counter" min="0" value="0" step="1"/>
            <button type="button" class="counter--less">-</button>
          </div>
        </div>
        <div class="menu--item">
          <div class="item">
            <p><span>Carne</span></p>
            <p>(Carne, aceituna, cebolla, morrón)</p>
          </div>
          <div class="item--counter">
            <button type="button" class="counter--plus">+</button>
            <input type="number" name="empanada-1" class="counter" min="0" value="0" step="1"/>
            <button type="button" class="counter--less">-</button>
          </div>
        </div>
        <div class="menu--item">
          <div class="item">
            <p><span>Carne</span></p>
            <p>(Carne, aceituna, cebolla, morrón)</p>
          </div>
          <div class="item--counter">
            <button type="button" class="counter--plus">+</button>
            <input type="number" name="empanada-1" class="counter" min="0" value="0" step="1"/>
            <button type="button" class="counter--less">-</button>
          </div>
        </div>
        <div class="menu--item">
          <div class="item">
            <p><span>Carne</span></p>
            <p>(Carne, aceituna, cebolla, morrón)</p>
          </div>
          <div class="item--counter">
            <button type="button" class="counter--plus">+</button>
            <input type="number" name="empanada-1" class="counter" min="0" value="0" step="1"/>
            <button type="button" class="counter--less">-</button>
          </div>
        </div>
        <div class="menu--item">
          <div class="item">
            <p><span>Carne</span></p>
            <p>(Carne, aceituna, cebolla, morrón)</p>
          </div>
          <div class="item--counter">
            <button type="button" class="counter--plus">+</button>
            <input type="number" name="empanada-1" class="counter" min="0" value="0" step="1"/>
            <button type="button" class="counter--less">-</button>
          </div>
        </div>
        <div class="menu--item">
          <div class="item">
            <p><span>Carne</span></p>
            <p>(Carne, aceituna, cebolla, morrón)</p>
          </div>
          <div class="item--counter">
            <button type="button" class="counter--plus">+</button>
            <input type="number" name="empanada-1" class="counter" min="0" value="0" step="1"/>
            <button type="button" class="counter--less">-</button>
          </div>
        </div>
        <div class="menu--item">
          <div class="item">
            <p><span>Carne</span></p>
            <p>(Carne, aceituna, cebolla, morrón)</p>
          </div>
          <div class="item--counter">
            <button type="button" class="counter--plus">+</button>
            <input type="number" name="empanada-1" class="counter" min="0" value="0" step="1"/>
            <button type="button" class="counter--less">-</button>
          </div>
        </div>
      </div>
    </div>

    <button type="submit" class="form--submitButton">Hacer pedido</button>
  </form>

  {{! Fin menus }}

  {{! Inicio contacto }}

  <div class="contact">
    <div class="schedule">
      <h2>Nuestros horarios de atención:</h2>
      <p>Lunes - 20:00 hs a 1:00 hs</p>
      <p>Martes - Cerrado</p>
      <p>Miércoles - 20:00 hs a 1:00 hs</p>
      <p>Jueves - 20:00 hs a 1:00 hs</p>
      <p>Viernes - 20:00 hs a 1:00 hs</p>
      <p>Sábado - 20:00 hs a 1:00 hs</p>
      <p>Domingo - 20:00 hs a 1:00 hs</p>
    </div>

    <div class="location">
      <h2>Encuentranos en:</h2>
      <p>Dirección: Av. Centenario 2.891 (casi Av. Lavalle)<p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3543.2753769785045!2d-55.90739812355966!3d-27.367114012344846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9457be3a4946c6ff%3A0xfba723a4920062b0!2sAv.%20Centenario%202891%2C%20N3300MDN%20Posadas%2C%20Misiones!5e0!3m2!1ses!2sar!4v1683901594508!5m2!1ses!2sar" class="map" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>

  {{! Fin contacto }}

  {{! Inicio footer }}

  <footer class="footer">
    <h3>Contactanos en:</h3>

    <div class="footer--contact">
      <img
        src="https://png.pngtree.com/png-vector/20221018/ourmid/pngtree-whatsapp-mobile-software-icon-png-image_6315991.png"
        alt="Instagram image"
      />
      <p>What's App - 3764xxxxxx</p>
    </div>

    <a class="footer--contact" href="#">
      <img
        src="https://static.vecteezy.com/system/resources/previews/017/743/717/non_2x/instagram-icon-logo-free-png.png"
        alt="Whats app image"
      />

      <p>Instagram</p>
    </a>
  </footer>

  {{! Fin footer }}

</div>

    <script src="/scrypts/hero-status-tag.js"></script>
    <script src="/scrypts/slider.js"></script>
    <script src="/scrypts/modify-order.js"></script>